In [9]:
import sqlite3
conn = sqlite3.connect('DB_Test1.db')
cour = conn.cursor()

In [10]:
cour.execute('''SELECT count(name)
                FROM sqlite_master
                WHERE type='table' AND name = 'students' ''')
if cour.fetchone()[0] == 1:
    print('Table students is exists.')
else:
    sql = '''Create table students(
             id INTEGER PRIMARY KEY AUTOINCREMENT,
             studentID TEXT NOT NULL,
             name TEXT NOT NULL,
             gender TEXT NOT NULL,
             department TEXT NOT NULL
             )'''
    cursor = conn.execute(sql)
    print('creating table student done!')

Table students is exists.

# 刪除SQLITE資料庫

In [11]:
cour.execute('''SELECT count(name) FROM sqlite_master WHERE type = 'table' AND name = 'student' ''')
if cour.fetchone()[0] == 1:
    op = input('Delete table of students? (Y/N)')
    if op.capitalize() == "Y":
        cour.execute('''Drop table students''')
cour.execute('''SELECT count(name) FROM sqlite_master WHERE type='table' AND name = 'students' ''')
if cour.fetchone()[0] == 1:
    print('Table students still alive')
else:
    print('The table students is gone!')

Table students still alive

# 新增資料

In [ ]:
while True:
    new_studentID = input('New student ID: ')
    new_name = input('Student Name: ')
    new_gender = input('Gender: ')
    new_department = input('Department: ')
    x = (new_studentID, new_name, new_gender, new_department)

# 查詢資料

In [ ]:
conn =